body {
  background: #FFFAFA;
}

.button {
  display: block;
  color: blue;
}

#destination1, #destination2, #destination3 {
  display: none;
}

.info {
  display: none;
}

#Q2 , #Q3 , #Q4 , #Q5 {
  display: none;
}
